{% extends 'tickets/base.html' %}
{% load static %}
{% block first %}
<!--========== PAGE LAYOUT ==========-->
        <!-- Service -->
        <div class="bg-color-sky-light" data-auto-height="true">
            <div class="content-lg container">
                <div class="row row-space-1 margin-b-2">
                    <div class="col-sm-4 sm-margin-b-2">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
                            <div class="service" data-height="height">
                                <div class="service-element">
                                    <i class="service-icon icon-chemistry"></i>
                                </div>
                                <div class="service-info">
                                    <h3>Expert support from the market</h3>
                                    <li class="pricing-list-item active">For each task, data is synchronized with a wholesale expert from the market</li>
                                    <li class="pricing-list-item">A specially selected expert for your task</li>
                                    <li class="pricing-list-item">If you have additional questions, you can get advice from an expert</li>
                                </div>
                                <a href="#" class="content-wrapper-link"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 sm-margin-b-2">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".2s">
                            <div class="service" data-height="height">
                                <div class="service-element">
                                    <i class="service-icon icon-screen-tablet"></i>
                                </div>
                                <div class="service-info">
                                    <h3>Research on competitors</h3>
                                    <li class="pricing-list-item">Compiling a list of key competitors</li>
                                    <li class="pricing-list-item">Determining the positioning of competitors and their key advantages</li>
                                    <li class="pricing-list-item">Insights to improve your product based on competitive analysis</li>
                                </div>
                                <a href="#" class="content-wrapper-link"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
                            <div class="service" data-height="height">
                                <div class="service-element">
                                    <i class="service-icon icon-badge"></i>
                                </div>
                                <div class="service-info">
                                    <h3>Verified performers</h3>
                                    <li class="pricing-list-item">Performers - graduates of leading universities</li>
                                    <li class="pricing-list-item">Decomposition of voluminous and complex queries into simple tasks for executors</li>
                                    <li class="pricing-list-item">We hire only 10% of those who passed the test</li>
                                    <li class="pricing-list-item">We will select the best performer for a specific task</li>
                                    <li class="pricing-list-item">Experienced project managers structure and approve the execution of the task by the performer</li>
                                </div>
                                <a href="#" class="content-wrapper-link"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--// end row -->

                <div class="row row-space-1">
                    <div class="col-sm-4 sm-margin-b-2">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".4s">
                            <div class="service" data-height="height">
                                <div class="service-element">
                                    <i class="service-icon icon-notebook"></i>
                                </div>
                                <div class="service-info">
                                    <h3>Search and analysis of information</h3>
                                    <li class="pricing-list-item">Search and structuring of information according to specified criteria</li>
                                    <li class="pricing-list-item">Preparation of a comprehensive report on specified topics</li>
                                    <li class="pricing-list-item">Using visualization elements for simplified perception of information</li>
                                </div>
                                <a href="#" class="content-wrapper-link"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 sm-margin-b-2">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".5s">
                            <div class="service" data-height="height">
                                <div class="service-element">
                                    <i class="service-icon icon-speedometer"></i>
                                </div>
                                <div class="service-info">
                                    <h3>Convenience and speed of execution</h3>
                                    <p class="margin-b-5">
                                    <li class="pricing-list-item">The client sets the task in any convenient way: text/audio/screen</li>
                                    <li class="pricing-list-item">We estimate the volume of work and select performers</li>
                                    <li class="pricing-list-item">We describe all tasks in checklists</li>
                                    <li class="pricing-list-item">The client can track the status of the task online</li>
                                    <li class="pricing-list-item">Minimizing time costs for finding and controlling outsourced analyst through the use of AI</li>
                                </div>
                                <a href="#" class="content-wrapper-link"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".6s">
                            <div class="service" data-height="height">
                                <div class="service-element">
                                    <i class="service-icon icon-badge"></i>
                                </div>
                                <div class="service-info">
                                    <h3>Assessment of market volume and trends</h3>
                                    <li class="pricing-list-item">Understand the monetary volume of an existing/emerging market</li>
                                    <li class="pricing-list-item">Conduct a quantitative analysis of the target audience (geography, income distribution, etc.)</li>
                                    <li class="pricing-list-item">Identify market trends based on open source research</li>
                                </div>
                                <a href="#" class="content-wrapper-link"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--// end row -->
            </div>
        </div>
        <!-- End Service -->

        <!-- Latest Products -->
        <div class="content-lg container">
            <div class="row margin-b-40">
                <div class="col-sm-6">
                    <h2>Block</h2>
                    <p>information</p>
                </div>
            </div>
            <!--// end row -->
        </div>
        <!-- End Latest Products -->
{% endblock %}