{% extends 'tickets/base.html' %}
{% load static %}
{% block two %}
    <link href="{% static 'css/ticket.css'%}" rel="stylesheet">
{% endblock %}
{% block first %}
    <!--========== PAGE LAYOUT ==========-->
    <!-- Our Exceptional Solutions -->
    <div class="content-lg container">
        <div class="row margin-b-40">
            <div class="col-sm-6">
                <h2>Create ticket</h2>
            </div>
        </div>
        <!--// end row -->

        <form action="{% url 'New_Ticket' %}" method="post">
            {% csrf_token %}
            <div class="content-lg container">
                <div class="row">
                    <div class="col-sm-6 sm-margin-b-50">
                        <div class="service-info"><h4>Company name</h4></div>
                        {{ form.company_name }}
                        <div class="service-info"><h4>Email</h4></div>
                        {{ form.email }}
                        <div class="service-info"><h4>Phone</h4></div>
                        {{ form.phone_number }}
                        <div class="service-info"><h4>Deadline</h4></div>
                        {{ form.deadline }}<h4 class="checkbox-cont">{{ form.if_fast }}   As soon as possible</h4>
                        <div class="service-info"><h4>Task priority {% for i in task_priority %}{{ i }}{% endfor %}</h4></div>
                        <div class="service-info"><h4>Short description of task</h4></div>
                        {{ form.short_description }}
                        <div class="service-info"><h4>Deep dive description of task</h4></div>
                        {{ form.long_description }}
                        <div class="service-info"><h4>Market geography</h4></div>
                        {{ form.market_geography }}
                        <div class="service-info"><h4>Language {% for i in language_choices %}{{ i }}{% endfor %}</h4></div>
                        <div class="service-info"><h4>Comments</h4></div>
                        {{ form.comments }}
                        <button type="submit" class="btn-theme btn-theme-sm btn-base-bg text-uppercase">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}